{% load staticfiles %}

<div id="editormd">
    <textarea name="detail-0-origin_content" style="display:none;">{{ body }}</textarea>
</div>

<script type="application/javascript" src="{% static 'vendor/editormd/js/editormd.js' %}"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("editormd", {
            width: "100%",
            height: 500,
            // theme : "dark",
            // previewTheme : "dark",
            // editorTheme : "pastel-on-dark",
            syncScrolling: "single",
            path: "/static/vendor/editormd/lib/",
            emoji: true,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp", "svg"]
        });
    });
</script>