<div>
    <table width='800' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#ffffff' style=''>
      <tbody>
        <tr>
          <td>
            <table width='800' border='0' align='center' cellpadding='0' cellspacing='0' height='40'></table>
          </td>
        </tr>
        <tr>
          <td>
            <table width='800' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#409EFF' height='48' style=''>
              <tbody>
                <tr>
                  <td width='160' height='48' border='0' align='center' valign='middle' style='padding-left:5px;'>
                    <a href='{{ base_url }}' target='_blank' style='color:#ffffff;text-align:left;text-decoration:none;font-weight:100;'>
                      Diomedes的工坊
                    </a>
                  </td>
                  <td width='703' height='48' colspan='2' align='right' valign='middle' style='color:#ffffff; padding-right:20px;'>
                    <a href='{{ base_url }}' target='_blank' style='color:#ffffff;text-decoration:none;font-weight:100;'>首页</a>&nbsp;&nbsp;
                    <span style='color:#fff;'>|</span>&nbsp;&nbsp;
                    <a href='{{ base_url }}/articles' target='_blank' style='color:#ffffff;text-decoration:none;font-weight:100;'>文章</a>&nbsp;&nbsp;
                    <span style='color:#fff;'>|</span>&nbsp;&nbsp;
                    <a href='{{ base_url }}/albums' target='_blank' style='color:#ffffff;text-decoration:none;font-weight:100;'>图集</a>&nbsp;&nbsp;
                    <span style='color:#fff;'>|</span>&nbsp;&nbsp;
                    <a href='{{ base_url }}/movies' target='_blank' style='color:#ffffff;text-decoration:none;font-weight:100;'>电影</a>&nbsp;&nbsp;
                    <span style='color:#fff;'>|</span>&nbsp;
                    <a href='{{ base_url }}/timeline' target='_blank' style='color:#ffffff;text-decoration:none;font-weight:100;'>时间轴</a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width='800' border='0' align='left' cellpadding='0' cellspacing='0' style=' border:1px solid #edecec;padding:0 20px;font-size:14px;color:#333333;'>
              <tbody>
                <tr>
                  <td width='760' height='56' border='0' align='left' colspan='2' style=' font-size:16px;vertical-align:bottom;'>您好，{{ receive_name }}：</td></tr>
                <tr>
                  <td width='760' height='30' border='0' align='left' colspan='2'>&nbsp;</td></tr>
                <tr>
                  <td width='40' height='32' border='0' align='left' valign='middle' style=' width:40px; text-align:left;vertical-align:middle; line-height:32px; float:left;'></td>
                  <td width='720' height='32' border='0' align='left' style=' width:720px; text-align:left;vertical-align:middle;line-height:32px;'>{{ email_context }}</td></tr>
                <tr>
                  <td width='720' height='32' colspan='2' style='padding-left:40px;'>&nbsp;</td></tr>
                <tr>
                  <td width='720' height='32' colspan='2' style='padding-left:40px;'>&nbsp;</td></tr>
                <tr>
                  <td width='720' height='14' colspan='2' style='padding-bottom:16px; border-bottom:1px dashed #e5e5e5;'>Diomedes博客</td></tr>
                <tr>
                  <td width='720' height='14' colspan='2' style='padding:8px 0 28px;color:#999999; font-size:12px;'>此为系统邮件请勿回复</td></tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width='800' height='100' border='0' align='center' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='800' height='100' align='center' valign='middle'>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<style type='text/css'>body{margin:0 auto;padding:0;font-family:Microsoft Yahei,Tahoma,Arial;color:#333333;background-color:#fff;font-size:12px}a{color:#00a2ca;line-height:22px;text-decoration:none}a:hover{text-decoration:underline;color:#00a2ca}td{font-family:'Microsoft YaHei'}</style>