<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1.user-scalable=no">
    <link rel=stylesheet type=text/css href=/static/css/reset.css>
    <script>
        window.__access_auth__ = '{{ site_infos.access_password_encrypt }}';
        window.__force_refresh__ = '{{ site_infos.is_force_refresh }}' === 'True';
        window.__category_info__ = {
            article: 1,
            reading: 2,
            album: 3
        };
    </script>
    <link href=/static/css/app.9eb7f5a8ab9efef021f786ea8d7a562c.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/app.b59e5f739be44fc9b7bc.js></script>
</body>
</html>