<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style type="text/css">
        body {
            margin: 0 auto;
            padding: 0;
            font-family: Microsoft Yahei, Tahoma, Arial;
            color: #333333;
            background-color: #fff;
            font-size: 12px
        }
    </style>
    <title>取消订阅提醒邮件</title>
</head>
<body>
<div style="margin: 0 auto; width: 700px;font-size: 15px;">
    <!-- 头部 -->
    <div style="background-color: #0ab5ff;height: 50px;line-height: 50px;">
        <div style="float: left;height: 50px;">
            <a href="{{ base_url }}" target="_blank"
               style="display: inline-block;font-weight:100;height: 50px;line-height: 50px;padding-left: 15px;color: #fff;text-decoration:none;">Diomedes</a>
        </div>
        <div style="float: right;height: 50px;padding-right: 15px;">
            <a href="{{ base_url }}" target="_blank"
               style="color:#ffffff;text-decoration:none;font-weight:100;">首页</a>
            <a href="{{ base_url }}/articles" target="_blank"
               style="color:#ffffff;text-decoration:none;font-weight:100;padding-left: 8px;">文章</a>
            <a href="{{ base_url }}/albums" target="_blank"
               style="color:#ffffff;text-decoration:none;font-weight:100;padding-left: 8px;">图集</a>
            <a href="{{ base_url }}/movies" target="_blank"
               style="color:#ffffff;text-decoration:none;font-weight:100;padding-left: 8px;">电影</a>
            <a href="{{ base_url }}/timeline" target="_blank"
               style="color:#ffffff;text-decoration:none;font-weight:100;padding-left: 8px;">时间轴</a>
        </div>
    </div>

    <div style="padding: 15px 30px 15px 30px;border: 1px solid #e5e5e5;">
        <!-- 内容部分 -->
        <div>
            <p style="font-size: 16px;">{{ message }}</p>
            <p style="font-size: 16px;">{{ error }}</p>
            <p style="font-size: 16px;">点此<a href="{{ subscribe_url }}">重新订阅</a></p>
        </div>
    </div>
</div>
</body>
</html>